@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To find the task at hand you need to search for "http://localhost:{Port}/newsletter" or simply by clicking the button in the navigation bar.</p>
</div>
